%h1 Users#new

- if @user.errors.any?
  - @user.errors.full_messages.each do |msg|
    %p
      = msg

= form_for @user do |f|
  .user-form
    = f.label :name
    = f.text_field :name
  .user-form
    = f.label :email
    = f.text_field :email
  .user-form
    = f.label :picture
    = f.file_field :picture
  .user-form
    = f.submit 'Save'
